.container{
  max-width: 23rem;
}

.inputValues{
  width: 100%;
  margin: 1rem 0 1rem 0;
  /* display: flex; */
  /* grid-template-columns: 1fr 1fr; */
  /* gap: 2.5rem; */
}

.inputValues input {
  width: 100%;
  padding: 0.3rem;
  text-align: right;
  margin: 0 0 0.3rem 0;
  /* width: 11rem; */
}

.bto {
  width: 100%;
  background: var(--green-500);
  color: var(--white);
  padding: 0.5rem;
  margin: 0 0 2rem 0;
  /* text-align: center; */
  /* cursor: pointer; */
}

button:hover {
  opacity: calc(0.8);
  cursor: pointer;
  margin-right: 1px;
}

.boxResults{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

h3 {
  color: var(--purple-100);
}