.todoListContent {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* align-items: center; */
}

.todoListBoxItem {
  margin: 0.6rem 0 0 0;
}

.todoListBoxItem input {
  margin: 0 0.8rem 0 0;
}

.todoListContent:hover {
  color: var(--green-400);
}

.buttonTrash{
  cursor: pointer;
}

.checked {
  color: var(--purple-200);
  text-decoration: line-through;
}