.wrapper{
  max-width: 70rem;
  margin: 1.5rem auto;
  padding: 0 1rem; /*se diminuir muito a tela deixa esses 1rem=16px para não grudar o conteúdo nas laterais*/

  display: grid;
  /*a 1° coluna sidebar tem larg fixa de 256px; a 2° é 1fr e pode oculpar o quanto couber na tela*/
  grid-template-columns: 230px 1fr; 
  gap: 2rem;
  /* obriga as duas colunas(sidebar e post) estarem alinhados ao topo, caso contrario serão a sidebar seria esticada para ficar no mesmo tamanho do post*/
  /* align-items: center;
  justify-content: center; 
  */
}

.textInitial {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--gray-400);
}

@media(max-width: 768px){
  .wrapper {
    grid-template-columns: 1fr;
  }
}