:root {
  --white: #fff;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --green-light-400: #90b10c;
  --green-400: #01a171;
  --green-500: #00875f;
  --purple-200: #7676f7;
  --yellow-100: #f1f5e3;
  --yellow-200: #d8e7a1;
  --orange-400: #c98128;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* impede que margin, padding..etc nunca aumentem a altura do elemento*/
}

body {
  background-color: var(--gray-900);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased; /* aplica nos navegadore um padronização mais fina para as fontes */
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem; /* a font se adapata ao tamanho da tela 1rem = 16px; */
}

/* .bto {
  width: 100%;
  background: var(--green-500);
  color: var(--white);
  padding: 0.5rem;
  margin: 0 0 2rem 0;
} */